body{
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 21, 21);
}

section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixaBranca{
    position: relative;
    margin: 10px 0px;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

select{
    border: none;
    border-radius: 2px;
    background-color: rgb(22, 21, 21);
    color: white;
}

.divInput{
    margin: 0;
    width: 55%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

input{
    height: 20px;
    font-size: 12pt;
    border: none;
    border-radius: 2px;
    background-color: black;
    color:white;
}

#pronto{
    height: 20px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color:white;
    cursor: pointer;
}

#imagem{
    height: 75%;
}

#caixaDaLegenda{
    display: none;
    bottom: 12vh;
    height: 40px;
    position: absolute;
    z-index: 1;
}

#legenda{
    font-size: 15pt;
    font-weight: bolder;
}

.botaoExibicao{
    border: none;
    border-radius: 2px;
    background-color: black;
    color:white;
    cursor: pointer;
}

table{
    width: 95%;
    border: solid 2px black;
}

th, td, tr{
    padding-left: 4px;
    text-align: justify;
    border: solid 2px black;
}
