@media(min-width: 600px){
    
section{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caixaBranca{
    width: 45%;
    height: 45vh;
}

.divInput{
    width: 38%;
}

label{
    font-size: 14pt;
}
